<div class="todo-container">
    <!-- Input Field to Add Todo -->
    <mat-form-field appearance="fill" class="todo-input">
      <mat-label>Enter a TODO and press enterk</mat-label>
      <input matInput #input (keydown.enter)="onAddClicked(input.value)" />
        <mat-icon matSuffix> edit</mat-icon>
    </mat-form-field>
  
    <!-- Filter Toggle -->
    <mat-button-toggle-group #filter class="todo-filters" appearance="legacy">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="pending">Pending</mat-button-toggle>
      <mat-button-toggle value="completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>
  
    <!-- Todo List -->

    @if(!store.loading()){
    @for(todo of store.todos(); track todo.id ; let index= $index){
       
            <div class="todo-item">
                <mat-checkbox (change)="onUpdate(todo.id, $event.checked)"[checked]="todo.completed">
                  <span [class.completed]="todo.completed">{{ todo.title }}</span>
                </mat-checkbox>
                <button mat-icon-button color="warn"  (click)="onDeleteClicked(todo.id)">
                  <mat-icon >delete</mat-icon>
                </button>
            </div>
        
    }
}
@else
{
    <mat-spinner></mat-spinner>
}
   
  </div>
  