.spinner-container {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    height: 60vh;            /* take most of the viewport */
  }
  